In [12]:
import pandas as pd

df= pd.read_excel("성적 처리.xlsx", sheet_name="Sheet1")
df

     반   성명  국어  영어  수학  사회  과학
0   1반  홍길동  93  80  94  73  64
1   5반  백일홍  93  63  76  84  92
2   3반  이삼상  94  74  86  90  70
3   4반  정말로  83  55  64  90  65
4   5반  한번도  87  95  66  75  60
5   4반  이철수  53  81  59  88  69
6   3반  김영자  71  71  51  84  57
7   5반  다니엘  87  54  95  71  97
8   2반  이미로  59  54  75  90  82
9   1반  신성삼  64  66  59  91  86
10  3반  케로로  56  76  52  64  65
11  2반  장발장  85  51  64  80  68
12  4반  백설공  75  57  77  57  91
13  5반  이태원  54  97  88  56  78
14  4반  우주로  96  54  51  54  78
15  3반  조미료  86  68  97  56  85
16  1반  소행성  62  58  58  62  73
17  1반  유비비  67  94  61  61  52
18  2반  이관우  91  65  57  79  93
19  2반  장비비  52  82  93  81  75

In [3]:
# 과목별 평균
df.groupby("반").mean()

       국어     영어     수학     사회     과학
반
1반  71.50  74.50  68.00  71.75  68.75
2반  71.75  63.00  72.25  82.50  79.50
3반  76.75  72.25  71.50  73.50  69.25
4반  76.75  61.75  62.75  72.25  75.75
5반  80.25  77.25  81.25  71.50  81.75

In [4]:
# 총합이라는 새로운 열을 만드는 방법

df['총합'] = df['국어']+df['영어']+df['수학']+df['사회']+df['과학']
df

     반   성명  국어  영어  수학  사회  과학   총합
0   1반  홍길동  93  80  94  73  64  404
1   5반  백일홍  93  63  76  84  92  408
2   3반  이삼상  94  74  86  90  70  414
3   4반  정말로  83  55  64  90  65  357
4   5반  한번도  87  95  66  75  60  383
5   4반  이철수  53  81  59  88  69  350
6   3반  김영자  71  71  51  84  57  334
7   5반  다니엘  87  54  95  71  97  404
8   2반  이미로  59  54  75  90  82  360
9   1반  신성삼  64  66  59  91  86  366
10  3반  케로로  56  76  52  64  65  313
11  2반  장발장  85  51  64  80  68  348
12  4반  백설공  75  57  77  57  91  357
13  5반  이태원  54  97  88  56  78  373
14  4반  우주로  96  54  51  54  78  333
15  3반  조미료  86  68  97  56  85  392
16  1반  소행성  62  58  58  62  73  313
17  1반  유비비  67  94  61  61  52  335
18  2반  이관우  91  65  57  79  93  385
19  2반  장비비  52  82  93  81  75  383

In [6]:
# 더 간단한 방법
df.iloc[:,2:]

    국어  영어  수학  사회  과학
0   93  80  94  73  64
1   93  63  76  84  92
2   94  74  86  90  70
3   83  55  64  90  65
4   87  95  66  75  60
5   53  81  59  88  69
6   71  71  51  84  57
7   87  54  95  71  97
8   59  54  75  90  82
9   64  66  59  91  86
10  56  76  52  64  65
11  85  51  64  80  68
12  75  57  77  57  91
13  54  97  88  56  78
14  96  54  51  54  78
15  86  68  97  56  85
16  62  58  58  62  73
17  67  94  61  61  52
18  91  65  57  79  93
19  52  82  93  81  75

In [13]:
# 각 행 별로 합 구하기 -> 행방향 합치기
df['총합'] = df.iloc[:,2:].sum(axis=1)
df

     반   성명  국어  영어  수학  사회  과학   총합
0   1반  홍길동  93  80  94  73  64  404
1   5반  백일홍  93  63  76  84  92  408
2   3반  이삼상  94  74  86  90  70  414
3   4반  정말로  83  55  64  90  65  357
4   5반  한번도  87  95  66  75  60  383
5   4반  이철수  53  81  59  88  69  350
6   3반  김영자  71  71  51  84  57  334
7   5반  다니엘  87  54  95  71  97  404
8   2반  이미로  59  54  75  90  82  360
9   1반  신성삼  64  66  59  91  86  366
10  3반  케로로  56  76  52  64  65  313
11  2반  장발장  85  51  64  80  68  348
12  4반  백설공  75  57  77  57  91  357
13  5반  이태원  54  97  88  56  78  373
14  4반  우주로  96  54  51  54  78  333
15  3반  조미료  86  68  97  56  85  392
16  1반  소행성  62  58  58  62  73  313
17  1반  유비비  67  94  61  61  52  335
18  2반  이관우  91  65  57  79  93  385
19  2반  장비비  52  82  93  81  75  383

In [14]:
# 학생별 평균 구하기

df['평균'] = df['총합']/5
df
# 홍길동과 다니엘은 동점

     반   성명  국어  영어  수학  사회  과학   총합    평균
0   1반  홍길동  93  80  94  73  64  404  80.8
1   5반  백일홍  93  63  76  84  92  408  81.6
2   3반  이삼상  94  74  86  90  70  414  82.8
3   4반  정말로  83  55  64  90  65  357  71.4
4   5반  한번도  87  95  66  75  60  383  76.6
5   4반  이철수  53  81  59  88  69  350  70.0
6   3반  김영자  71  71  51  84  57  334  66.8
7   5반  다니엘  87  54  95  71  97  404  80.8
8   2반  이미로  59  54  75  90  82  360  72.0
9   1반  신성삼  64  66  59  91  86  366  73.2
10  3반  케로로  56  76  52  64  65  313  62.6
11  2반  장발장  85  51  64  80  68  348  69.6
12  4반  백설공  75  57  77  57  91  357  71.4
13  5반  이태원  54  97  88  56  78  373  74.6
14  4반  우주로  96  54  51  54  78  333  66.6
15  3반  조미료  86  68  97  56  85  392  78.4
16  1반  소행성  62  58  58  62  73  313  62.6
17  1반  유비비  67  94  61  61  52  335  67.0
18  2반  이관우  91  65  57  79  93  385  77.0
19  2반  장비비  52  82  93  81  75  383  76.6

In [16]:
# 평균을 순위 매기기
df['순위'] = df['평균'].rank(method='average', ascending=False)
df
# ascending True로 하면 점수 낮은 사람이 높은 등수
# method = average는 3.5등 두명 4등 존재 안함

     반   성명  국어  영어  수학  사회  과학   총합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.5
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  12.5
4   5반  한번도  87  95  66  75  60  383  76.6   7.5
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   3.5
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  19.5
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  12.5
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  19.5
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   7.5

In [17]:
df['순위'] = df['평균'].rank(method='min', ascending=False)
df
# 3등 두명 4등 없음

     반   성명  국어  영어  수학  사회  과학   총합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  12.0
4   5반  한번도  87  95  66  75  60  383  76.6   7.0
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   3.0
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  19.0
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  12.0
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  19.0
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   7.0

In [18]:
df['순위'] = df['평균'].rank(method='max', ascending=False)
df
# 4등 두명 3등 없음

     반   성명  국어  영어  수학  사회  과학   총합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   4.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  13.0
4   5반  한번도  87  95  66  75  60  383  76.6   8.0
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   4.0
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  20.0
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  13.0
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  20.0
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   8.0

In [20]:
df['순위'] = df['평균'].rank(method='first', ascending=False)
df
# 3등 한 명 4등 한 명

     반   성명  국어  영어  수학  사회  과학   총합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  12.0
4   5반  한번도  87  95  66  75  60  383  76.6   7.0
5   4반  이철수  53  81  59  88  69  350  70.0  14.0
6   3반  김영자  71  71  51  84  57  334  66.8  17.0
7   5반  다니엘  87  54  95  71  97  404  80.8   4.0
8   2반  이미로  59  54  75  90  82  360  72.0  11.0
9   1반  신성삼  64  66  59  91  86  366  73.2  10.0
10  3반  케로로  56  76  52  64  65  313  62.6  19.0
11  2반  장발장  85  51  64  80  68  348  69.6  15.0
12  4반  백설공  75  57  77  57  91  357  71.4  13.0
13  5반  이태원  54  97  88  56  78  373  74.6   9.0
14  4반  우주로  96  54  51  54  78  333  66.6  18.0
15  3반  조미료  86  68  97  56  85  392  78.4   5.0
16  1반  소행성  62  58  58  62  73  313  62.6  20.0
17  1반  유비비  67  94  61  61  52  335  67.0  16.0
18  2반  이관우  91  65  57  79  93  385  77.0   6.0
19  2반  장비비  52  82  93  81  75  383  76.6   8.0

In [21]:
df['순위'] = df['평균'].rank(method='dense', ascending=False)
df
# 3등 두명 4등 있음

     반   성명  국어  영어  수학  사회  과학   총합    평균    순위
0   1반  홍길동  93  80  94  73  64  404  80.8   3.0
1   5반  백일홍  93  63  76  84  92  408  81.6   2.0
2   3반  이삼상  94  74  86  90  70  414  82.8   1.0
3   4반  정말로  83  55  64  90  65  357  71.4  10.0
4   5반  한번도  87  95  66  75  60  383  76.6   6.0
5   4반  이철수  53  81  59  88  69  350  70.0  11.0
6   3반  김영자  71  71  51  84  57  334  66.8  14.0
7   5반  다니엘  87  54  95  71  97  404  80.8   3.0
8   2반  이미로  59  54  75  90  82  360  72.0   9.0
9   1반  신성삼  64  66  59  91  86  366  73.2   8.0
10  3반  케로로  56  76  52  64  65  313  62.6  16.0
11  2반  장발장  85  51  64  80  68  348  69.6  12.0
12  4반  백설공  75  57  77  57  91  357  71.4  10.0
13  5반  이태원  54  97  88  56  78  373  74.6   7.0
14  4반  우주로  96  54  51  54  78  333  66.6  15.0
15  3반  조미료  86  68  97  56  85  392  78.4   4.0
16  1반  소행성  62  58  58  62  73  313  62.6  16.0
17  1반  유비비  67  94  61  61  52  335  67.0  13.0
18  2반  이관우  91  65  57  79  93  385  77.0   5.0
19  2반  장비비  52  82  93  81  75  383  76.6   6.0